.projects-block {
  width: var(--mgzns-max-container);
  max-width: 100%;
  margin: 0 auto;
  padding: 0 7rem;
  margin-top: 8.7rem;

  @media (max-width: 1340px) {
    padding: 0 2.4rem;
  }

  &__item {
    position: relative;

    img {
      display: block;
      width: 100%;
    }

    a > div {
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 1.5em 1em;
    }

    @media (max-width: 1340px) {
      margin-bottom: 1.5rem;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0.4rem 0;
    gap: 0.4rem;
    line-height: 120%;

    &:nth-child(1) {
      font-size: 4rem;

      @media (max-width: 1340px) {
        & > div:nth-child(n + 4) {
          display: none;
        }
      }
    }

    &:nth-child(2) {
      gap: 2rem;
      margin: 2rem 0;
      grid-template-columns: repeat(3, 1fr);
      font-size: 2.5rem;
    }

    &:nth-child(3) {
      gap: 2rem;
      margin: 2rem 0;
      grid-template-columns: repeat(4, 1fr);
      font-size: 2rem;
    }

    &:nth-child(4) {
      font-size: 1.5rem;
      gap: 0.8rem;
      margin: 0.8rem 0;
      grid-template-columns: repeat(5, 1fr);

      @media (max-width: 1340px) {
        display: none;
      }
    }

    @media (max-width: 1340px) {
      font-size: inherit !important;
      grid-template-columns: auto !important;
      gap: 0 !important;
      margin: 0 !important;
    }
  }

  &__link {
    align-items: center;
    border-radius: 1.6rem;
    background: #161616;
    display: flex;
    justify-content: space-between;
    font-size: 3rem;
    margin-top: 3.2rem;
    padding: 6.3rem 3.9rem;
    width: 100%;

    @media (max-width: 1340px) {
      background: #292929;
      padding: 3.4rem 3.7rem;
      font-size: inherit;
    }

    > .icon {
      display: inline-block;
      position: relative;

      &::after {
        background: url('data:image/svg+xml,<svg width="30" height="33" viewBox="0 0 30 33" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.8929 32.8799C25.9907 33.0019 26.9795 32.2108 27.1015 31.113L29.0893 13.2231C29.2112 12.1253 28.4202 11.1365 27.3223 11.0145C26.2245 10.8925 25.2357 11.6836 25.1137 12.7814L23.3468 28.6835L7.44467 26.9166C6.34686 26.7946 5.35802 27.5857 5.23604 28.6835C5.11406 29.7813 5.90513 30.7702 7.00295 30.8921L24.8929 32.8799ZM0.438262 3.24939L23.552 32.1415L26.6755 29.6428L3.56174 0.75061L0.438262 3.24939Z" fill="white"/></svg>');
        content: "";
        display: block;
        width: 4rem;
        height: 4rem;
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        transform: translate(-100%, -50%);

        @media (max-width: 1340px) {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
